@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Ubuntu:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
  font-family: "Ubuntu", sans-serif;
  background-color: #dee1e6;
}
/* header */
.title {
  background-color: #6610f2;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}
.title-part2,
.new-nav {
  color: #6610f2;
}
i {
  font-size: 25px;
}

/* catagory */
#catagoryList {
  display: flex;
  justify-content: space-between;
}
#catagoryList li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}
#catagoryList li:hover {
  color: #6610f2;
  transform: translateY(-5px);
}

/* Author */
.autherPic img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.author {
  display: flex;
}
.rating {
  color: orange;
  font-size: 20px;
}
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* responsive */
@media only screen and (max-width: 992px) {
  #catagoryList {
    display: flex;
    flex-direction: column;
  }
  #catagoryList li:hover {
    transform: translateX(10px);
  }
  .newsThum {
    width: 100%;
    height: 400px;
    padding: 5px;
  }
}
